<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="ky-dark3">
    <div class="ky-bar ky-dark2">
        {% include navigation.html %}
    </div>
    <header style="margin:0 24px">
        <h2 class="ky-tag ky-dark ky-round" style="margin-bottom:0;"><a href="{{ site.title }}">{{ site.title }}:</a></h2>
        <h3 class="ky-tag ky-accent ky-round" style="margin-top: 0"><a style="color:aliceblue" href="{{ page.link }}">{{ page.title }}</a></h3>
        <hr style="border-style: none; width: 90%; background-color:#101010; height: 3px;">
    </header>

    <div class="content ky-margin-top">
        {{ content }}
    </div>
    <footer>
        {% include footer.html %}
    </footer>
</body>

</html>